body{
  background-color: #001725;
  color: white;
}
.img {
  border: 2.1px solid #DCDE0D ;
  border-radius: 8px;
}
#b1{
  text-align: left;
}
.movie {
  border: 2.1px solid #DCDE0D ;
  border-radius: 8px; 
}
.c1{
  
  color: #139AFF;
}

.name {
  font-size: 14.5px;
}
