body{
  background-color: #001725;
  color: white;
}
.img {
  border: 2.1px solid #DCDE0D ;
  border-radius: 8px;
}
#b1{
  text-align: left;
}
.movie {
  border: 2.1px solid #DCDE0D ;
  border-radius: 8px; 
}
.c1{
  
  color: #139AFF;
}

.name {
  font-size: 14.5px;
  
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#AniRate {
  vertical-align: middle;
  margin-top: 8px;
}

.xyz {
  vertical-align: middle;
   
  text-decoration: none; 
  margin-left: 45px; 
}
#nevbar{
  background-color: #121822;
  height: 70px;
}
pre{
  display: inline;
}
