body{
  background-color: #001725;
  color: white;
}
.img {
  border: 2.1px solid #DCDE0D ;
  border-radius: 8px;
  margin: 0;
  padding: 0;
  
  
}
#b1{
  text-align: left;
}
.movie {
  border: 2.1px solid #DCDE0D ;
  border-radius: 8px; 
}
.c1{
  
  color: #139AFF;
  margin-left: 5px;
  
}

.name {
  font-size: 14.5px;
  
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#AniRate {
  vertical-align: middle;
  margin-top: 8px;
}

.xyz {
  vertical-align: middle;
   
  text-decoration: none; 
  margin-left: 45px;
  color: #0035FF;
}
#nevbar{
  background-color: #121822;
  height: 70px;
}
pre{
  display: inline;
}
.hr{
  margin: 0;     /* Removes space above and below the <hr> */
  padding: 0;
  
  border: 0.7px solid #FFF201;
}
.bu1{
  text-decoration: none; 
  margin-left: 180px;
  
}

@media (min-width: 768px) {
  .name {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .name img {
    height: 220px;
    width: auto;
    margin-right: 50px;
  }

  h4 {
    font-size: 20px;
  }
}
